<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="preconnect" href="https://fonts.cdnfonts.com" />
        <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/itc-serif-gothic-2" />
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />

        <!-- Meta -->
        <title>{{site.title}}{% if title %} - {{title}} {% endif %}</title>
        <meta name="description" content="
            {% if description %}
                {{description}}
            {% else %}
                {{site.description}}
            {% endif %}
        "/>
    </head>
    <body>
        {% include "partials/_navigation.njk" %}
        <main>
            {{content | safe}}
        </main>
    </body>
</html>

